.main-menu > ul > li > a.active{
    background-color: #a97150;
}
.loading-modal
{
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}
.loading-modal-center
{
    z-index: 1000;
    margin: 300px auto;
    padding: 0px;
    width: 130px;
    background-color: White;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}
.loading-modal-center img
{
    height: 128px;
    width: 128px;
}